// nextflow.config

// Default setting
process {

  errorStrategy = 'retry'
  maxRetries    = 2

  cpus   = 6
  memory = '8 GB'
  time   = '6h'

  // Setting for each process
  withName: 'FASTQC' {
    container = 'biocontainers/fastqc:v0.11.9_cv8'
  }

  withName: 'TRIMMOMATIC' {
    container = 'staphb/trimmomatic:0.40'
  }

  withName: 'MULTIQC' {
    container = 'multiqc/multiqc:pdf-v1.33'
  }

  withName: 'BWA' {
    container = 'shohei0212/bwa_samtools:1.0.0'
  }

  withName: 'BWA_INDEX' {
    container = 'shohei0212/bwa_samtools:1.0.0'
  }

  withName: 'SAMTOOLS_VIEW_SORT' {
    container = 'shohei0212/bwa_samtools:1.0.0'
  }

  withName: 'MULTIQC_FLAGSTAT' {
    container = 'multiqc/multiqc:pdf-v1.33'
  }
  
  withName: 'BCFTOOLS_MPILEUP' {
    container = 'staphb/bcftools:1.23'
  }

  withName: 'GATK_HC' {
    container = 'broadinstitute/gatk:4.6.2.0'
  }

  withName: 'FREEBAYES' {
    container = 'staphb/freebayes:1.3.10'
  }

  withName: 'VCFTOOLS_FILTER_QC' {
    container = 'biocontainers/vcftools:0.1.14'
  }

  withName: 'EXTRACT_AD_GT' {
    container = 'staphb/bcftools:1.23'
  }

  withName: 'PLOT_AD_SCATTER' {
    container = 'jupyter/scipy-notebook:latest'
  }

  withName: 'SEQUOIA' {
    container = 'shohei0212/sequoia_3.2.0:latest'
  }

}

// Profile
profiles {

  // Host
  standard {
    docker.enabled = false
  }

  // Docker
  docker {
    docker.enabled = true
    docker.runOptions = '--platform linux/amd64 -u $(id -u):$(id -g)'
  }

}

dag {
  
  file      = "${params.outdir ?: 'results'}/dag.html"
  enabled   = true
  overwrite = true
  direction = 'LR'   // 'TB' or 'LR'

}

// Resources Report
trace {

  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline_info/trace.tsv"
  overwrite = true

}

report {

  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline_info/report.html"
  overwrite = true

}

timeline {

  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline_info/timeline.html"
  overwrite = true

}
