// nextflow.config

// Default setting
process {

  errorStrategy = 'retry'
  maxRetries    = 2

  cpus   = 4
  memory = '8 GB'
  time   = '6h'

  // Setting for each process
  withName: 'FASTQC' {
    container = 'biocontainers/fastqc:v0.11.9_cv8'
  }

  withName: 'TRIMMOMATIC' {
    container = 'staphb/trimmomatic:0.40'
  }

  withName: 'MULTIQC' {
    container = 'multiqc/multiqc:pdf-v1.33'
  }

  withName: 'BWA' {
    container = 'staphb/bwa:0.7.19'
  }

  withName: 'BWA_INDEX' {
    container = 'staphb/bwa:0.7.19'
  }

  withName: 'SAMTOOLS_VIEW_SORT' {
    container = 'staphb/samtools:1.23'
  }

  withName: 'MULTIQC_FLAGSTAT' {
    container = 'multiqc/multiqc:pdf-v1.33'
  }
  
  withName: 'BCFTOOLS_MPILEUP_CALL' {
    container = 'staphb/bcftools:1.23'
  }

}

params {
  // If you do not specify regions, set it to NO_FILE.
  regions = "${projectDir}/resources/NO_FILE"
}


// Profile
profiles {

  // Host
  standard {
    docker.enabled = false
  }

  // Docker
  docker {
    docker.enabled = true
    docker.runOptions = '--platform linux/amd64 -u $(id -u):$(id -g)'
  }

}

dag {

  enabled   = true
  file      = "${params.outdir ?: 'results'}/dag.html"
  overwrite = true
  direction = 'TB'   // 'TB' or 'LR'

}

// Resources Report
trace {

  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline_info/trace.tsv"
  overwrite = true

}

report {

  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline_info/report.html"
  overwrite = true

}

timeline {

  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline_info/timeline.html"
  overwrite = true

}
